<mat-toolbar color="primary">
  <span>Dolgozó nyílvántartó</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditEmpForm()">
    Dolgozó hozzáadása
  </button>
</mat-toolbar>

<div class="main-body">
  <mat-form-field>
    <mat-label>Keresés</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Név, e-mail, egyéb adatok szerint" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vezetéknév </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Keresztnév </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
        <td mat-cell *matCellDef="let row"> {{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Szül. dátum </th>
        <td mat-cell *matCellDef="let row"> {{row.dob | date}}</td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nem </th>
        <td mat-cell *matCellDef="let row"> {{row.gender}}</td>
      </ng-container>

      <ng-container matColumnDef="education">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Végzettség </th>
        <td mat-cell *matCellDef="let row"> {{row.education}}</td>
      </ng-container>

      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Munkahely </th>
        <td mat-cell *matCellDef="let row"> {{row.company}}</td>
      </ng-container>

      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tapasztalat </th>
        <td mat-cell *matCellDef="let row"> {{row.experience}} év</td>
      </ng-container>

      <ng-container matColumnDef="package">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fizetés </th>
        <td mat-cell *matCellDef="let row"> {{row.package}} HUF</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Műveletek </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">A keresés alapján nincs megjeleníthető adat a következőre: "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>